html{
    min-height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header  {
    width: 100%;
    height: 50px;
    background-color: #1F1F1F;
    text-align: center;
    color: whitesmoke;

}

.header h1 {
    padding-top: 5px;
    margin: 0;

}

.footer{
    width: 100%;
    height: 50px;
    background-color: #1F1F1F;
    text-align: center;
    color: whitesmoke;
    margin: 0;
    position: absolute; 
    bottom: 0; 
    left: 0; 

}

.footer h5 {
    margin: 0;
    padding-top: 17px;
}

.content {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: rgb(174, 221, 219);
}

.game-container {
    display: flex;
    /* background-color: red; */
    width: 100%;
    padding-top: 4vw;
    margin: auto;
}

.game-board-outer{
    width: 50%;
    position: relative;
    margin: auto;
    
}

.game-board-outer:after{
    content: "";
    display: block;
    padding-bottom: 100%;
    background-color: rgb(22, 28, 63);


}

.game-board-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: whitesmoke;
}

.game-square{
    height: 100%;
    width: 100%;
    border: 1px rgb(174, 221, 219) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7vw;
}

.controls-container{
    display: flex;
    justify-content: space-evenly;
}


.restart-container, .settings-container{
    /* background-color: rgb(42, 130, 180); */
    display: flex;
    justify-content: center;
    padding-top: 6vw;
    padding-bottom: 3vw;
}


button{
    padding: 4vw 7vw;
    text-align: center;
    
    font-size: 4vw;
    margin: auto 0;
    border: none;
    text-shadow: rgb(187, 187, 187) 1px 1px 5px;
}

button:focus {
    outline: none;
}

button#restart-btn, button#playagain-btn{
    background-image: linear-gradient(-70deg,rgb(0, 209, 87),rgb(49, 231, 59));
    box-shadow: 0 5px rgba(0, 0, 0, 0.25);
}

button#restart-btn:hover, button#playagain-btn:hover{
    background-image: linear-gradient(-70deg,rgb(0, 192, 80),rgb(45, 216, 54));
}

button#settings-btn{
    background-image: linear-gradient(-270deg, rgb(235, 130, 10) , rgb(255, 94, 0));
    box-shadow: 0 6px rgba(0, 0, 0, 0.25);
}
button#settings-btn:hover{
    background-image: linear-gradient(-270deg, rgb(206, 115, 10) , rgb(224, 82, 0));
}

button#settings-btn:active{
    box-shadow: 0 2px rgba(0, 0, 0, 0.35);
    transform: translateY(4px);
}

button#restart-btn:active, button#playagain-btn:active{
    box-shadow: 0 2px rgba(0, 0, 0, 0.35);
    transform: translateY(4px);
}

.gameover-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: rgb(82, 82, 82) 1px 1px;
    padding: 2vw;
    z-index: 10;
    background-color: lightcyan;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.gameover-container.active {
    transform: translate(-50%,-50%) scale(1);
}



.overlay {
    transition: 200ms ease-in-out;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

@media only screen and (min-width: 750px) {
    .game-container {

      width: 50%;
    }
    button#restart-btn, button#playagain-btn, button#settings-btn{
        font-size: 2vw;
        padding: 2vw 3.5vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .controls-container{
        justify-content: center;
    }

    .game-square {
        font-size: 5vw;
    }
  }

@media only screen and (min-width: 1000px) {
    .game-container {
      width: 40%;
    }


}


@media only screen and (min-width: 1250px) {
    .game-container {
        width: 35%;
    }

    button#restart-btn, button#playagain-btn, button#settings-btn{
        font-size: 1.5vw;
        padding: 1.5vw 2.35vw;
    }
}


@media only screen and (min-width: 1500px) {
    .game-container {
      width: 30%;
    }
    .game-square {
        font-size: 3vw;
    }

}